#partytime{
    /* height: 140px; */
}

#jcv{
    background-color: rgb(207, 207, 207);
}
.rcd-pillar{
    
    height: 50px;
    width: 31px;
}
#qr{
    left: 55px;
}
.arbgv{
    margin-left: -40px;
}
